# Node
node_modules/
npm-debug.log
yarn-error.log

dist/
build/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

*.so
.pytest_cache/

# Type checkers and linters
.mypy_cache/
.ruff_cache/
.tox/

# Test coverage
.coverage
htmlcov/
coverage.xml

# Local Env Files
.env
.env.*

# Vite Junk
vite.config.ts.timestamp*
